extends layout
append head
	link(rel='stylesheet', href='/css/admin.css')
block content

	a(class="retour" href="/admin") ← Retour aux produits
	a(class="deconnecte" href="/logout") Se déconnecter

	form(method="POST" enctype="multipart/form-data" action="/admin/create-product")
		h1 Nouveau produit
		if message
			br
			h2= message
			br
		br
		p Nom du produit : 
		input(type="text" name="product_name" placeholder="Nom du produit" value=body.product_name size="50" maxlength="50")
		br
		br
		p Liste des ingrédients : 
		input(type="text" name="ingredients" placeholder="Ingredients" value=body.ingredients size="50" maxlength="250")
		br
		br
		p Choisissez une catégorie : 
			select(name="category" type="text" value=body.category)
				option(value='1') Pain
				option(value='2') Viennoiseries
				option(value='3') Pâtisseries
		br
		p Ajoutez une description : 
			textarea(id="product_description" name="product_description" placeholder="Description du produit" rows='6' cols='50')= body.product_description
		br
		br
		input(type="file" name="product_picture")
		br
		br
		button(class="deco" type="submit") Enregistrer
	script(src='https://cloud.tinymce.com/stable/tinymce.min.js')
	script.
		tinymce.init({ selector:'textarea' });
